.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

<<<<<<< HEAD

.actions {
  text-align: center;
}

=======
.actions {
  text-align: center;
}
>>>>>>> f6f6c7ca58fc7cfe189734dd6bb336bbe60a40ef
